body {
  background-color: #066D06;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.bulletin {
  background-image: url("Images/bulletin.svg");
  height: 250px;
  width: 400px;
  background-repeat: no-repeat;
}

.mail-board{
  background-image: url("Images/board.svg");
  margin-top: 200px;
  height: 300px;
  width: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.bulletin-message {
  font-family: 'VT323', monospace;
  font-size: 30px;
}

.bulletin-form {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  position: relative;
}

form {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 5px;
  justify-items: center;
}

input {
  margin: 5px 0px;
  box-shadow: -2px 2px;
  height: 30px;
  width: 180px;
}

select {
  box-shadow: -2px 2px;
  height: 35px;
  width: 190px;
  margin-top: 4px;
}

.label-item {
  font-family: 'VT323', monospace;
  font-size: 30px;
  margin: 12px 2px;
  justify-self: end;
}

img {
  position: absolute;
  top: -160px;
}


.save-button {
  background-image: url("Images/button-disabled.svg");
  background-size: cover;
  height: 50px;
  width: 175px;
}

.cancel-button {
  background-image: url("Images/button-disabled.svg");
  background-size: cover;
  height: 50px;
  width: 175px;
  justify-self: end;
}
